<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>
    <div>Reviews</div>
    <ul>
    <% @reviews.each do |review| %>
    <li>Rating:<%=  review.rating %><br>
    <%= review.description %><br>
     <%= review.user_id %> , <%= current_user.id %><br>

    <% if review.user_id  == current_user.id%>
        <%= link_to fa_icon('trash'), [review.product, review], 
         method: :delete,
         data: { confirm: 'Are you sure?' },
         class: 'btn btn-sm btn-danger' %>
    <%end%>
    </li>

    <% end %>
    </ul>

 <% if current_user %>
<h2>Add a review:</h2>
<%# <%= form_for([@product, @product.reviews.build]) do |f| %>
  <%# <p>
    <%= f.label :description %><br>
    <%# <%= f.text_area :description %>
  <%# </p>
  <p> %>
    <%# <%= f.label :rating %><br>
    <%# <%= f.select :rating, [1, 2, 3, 4, 5]%>  
  <%# </p>
  <p> %>
    <%# <%= f.submit %> 
  <%# </p> %>
<%# <% end %> 

<%= simple_form_for([@product, @product.reviews.build], html: { class: 'form-inline' }) do |f|%>
    <%= f.input :description, as: :text, label: 'Description', error: 'description is mandatory' %>
    <p>
      <%= f.input :rating, collection: 1..5, selected: 5%>
    </p>
    <p>
      <%= f.button :submit , class: 'btn btn-info'%>
    </p>


<% end %>
<%end%>

  </article>

</section>
